<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.excprotection.payment">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name=".PaymentPlugin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="override_url" />
            </intent-filter>

                <intent-filter>
                <data android:scheme="sa.gov.gosi.taminaty"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <activity
            android:name="com.oppwa.mobile.connect.checkout.dialog.CheckoutActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            tools:replace="android:windowSoftInputMode" />

             
        
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <receiver
            android:name=".CheckoutBroadcastReceiver"
            android:exported="false" />


    </application>
</manifest>
